{% extends 'admin/layout.html.twig' %}

{% block body %}
    <h1>ConceptStatus list</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Label</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for conceptStatus in conceptStatuses %}
            <tr>
                <td><a href="{{ path('admin_conceptstatus_show', { 'id': conceptStatus.id }) }}">{{ conceptStatus.id }}</a></td>
                <td>{{ conceptStatus.label }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_conceptstatus_show', { 'id': conceptStatus.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_conceptstatus_edit', { 'id': conceptStatus.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_conceptstatus_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
