{% extends 'admin/layout.html.twig' %}

{% block body %}
    <h1>Product list</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Short description</th>
                <th>Long description</th>
                <th>Sku</th>
                <th>Supplier reference</th>
                <th>Price per unit ht</th>
                <th>Product status</th>
                <th>Createdat</th>
                <th>Updatedat</th>
                <th>Deletedat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td><a href="{{ path('admin_product_show', { 'id': product.id }) }}">{{ product.id }}</a></td>
                <td>{{ product.name }}</td>
                <td>{{ product.shortDescription }}</td>
                <td>{{ product.longDescription }}</td>
                <td>{{ product.sku }}</td>
                <td>{{ product.supplierReference }}</td>
                <td>{{ product.pricePerUnitHt }}</td>
                <td>{{ product.productstatus.label }}</td>
                <td>
                    {{ product.creator.username }}
                    <br />
                    {% if product.createdAt %}{{ product.createdAt|date('Y-m-d H:i:s') }}{% endif %}
                </td>
                <td>
                    {{ product.updator.username }}
                    <br />
                    {% if product.updatedAt %}{{ product.updatedAt|date('Y-m-d H:i:s') }}{% endif %}
                </td>
                <td>{% if product.deletedAt %}<span style="background-color: red;">{{ product.deletedAt|date('Y-m-d H:i:s') }}</span>{% endif %}</td>
                <td>
                    <a href="{{ path('admin_product_show', { 'id': product.id }) }}">show</a>
                    &nbsp;
                    <a href="{{ path('admin_product_edit', { 'id': product.id }) }}">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_product_new') }}">Create a new entry</a>
{% endblock %}
