{% extends 'admin/layout.html.twig' %}

{% block body %}
    <h1>AddressType</h1>

    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ addressType.id }}</td>
            </tr>
            <tr>
                <th>Label</th>
                <td>{{ addressType.label }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_addresstype_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_addresstype_edit', { 'id': addressType.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
