{% extends 'admin/layout.html.twig' %}

{% block body %}
    <h1>ConceptMedia</h1>

    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ conceptMedia.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ conceptMedia.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ conceptMedia.description }}</td>
            </tr>
            <tr>
                <th>Comment</th>
                <td>{{ conceptMedia.comment }}</td>
            </tr>
            <tr>
                <th>Mediapath</th>
                <td>{{ conceptMedia.mediaPath }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{% if conceptMedia.createdAt %}{{ conceptMedia.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{% if conceptMedia.updatedAt %}{{ conceptMedia.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Deletedat</th>
                <td>{% if conceptMedia.deletedAt %}{{ conceptMedia.deletedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_conceptmedia_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_conceptmedia_edit', { 'id': conceptMedia.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
