{% extends 'admin/layout.html.twig' %}

{% block body %}
    <h1>Product</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ product.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ product.name }}</td>
            </tr>
            <tr>
                <th>Shortdescription</th>
                <td>{{ product.shortDescription }}</td>
            </tr>
            <tr>
                <th>Longdescription</th>
                <td>{{ product.longDescription }}</td>
            </tr>
            <tr>
                <th>Sku</th>
                <td>{{ product.sku }}</td>
            </tr>
            <tr>
                <th>Supplierreference</th>
                <td>{{ product.supplierReference }}</td>
            </tr>
            <tr>
                <th>Priceperunitht</th>
                <td>{{ product.pricePerUnitHt }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{% if product.createdAt %}{{ product.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{% if product.updatedAt %}{{ product.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Deletedat</th>
                <td>{% if product.deletedAt %}{{ product.deletedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_product_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_product_edit', { 'id': product.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
