{% extends 'base.html.twig' %}

{% block body %}
    {% for concept in concepts %}
        <table class="table">
            <thead>
            </thead>
            <tbody>
            <tr>
                <td style="text-align: right;">
                    <button type="button" class="btn btn-success btn-md add-to-basket-concept">
                        <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> {{ 'basket.addConceptToBasket'|trans }}
                    </button>
                </td>
            </tr>
            <tr>
                {% for conceptMedia in conceptsMedia[concept.id] %}
                    {% if conceptMedia.conceptmediatype.id == 3 %} {# banner type #}
                        <td>
                            <div class="banner-container">
                                <h3 class="banner-name" class="txt-responsive">{{ conceptMedia.name }}</h3>
                                <h5 class="banner-description" class="txt-responsive">{{ conceptMedia.description }}</h5>
                                <img src="{{ asset(conceptMedia.mediapath) }}" class="img-responsive" alt="banner-{{ conceptMedia.name }}" />
                            </div>
                        </td>
                    {% endif %}
                {% endfor %}
            </tr>
            <tr>
                <td>
                    <h3 class="concept-name">{{ concept.name }}</h3>
                    <p class="concept-description">{{ concept.description }}</p>
                </td>
            </tr>
            <tr>
                <td style="text-align: center;">
                    {% for conceptMedia in conceptsMedia[concept.id] %}
                        {% if conceptMedia.conceptmediatype.id == 1 %} {# video type #}
                            <p>
                                <iframe height="215" src="{{ asset(conceptMedia.mediapath) }}" frameborder="0" allowfullscreen></iframe>
                            </p>
                        {% endif %}
                    {% endfor %}
                </td>
            </tr>
            </tbody>
        </table>
        <hr>
        <h1>{{ 'concept.productlist'|trans }}</h1>
        {% for conceptProducts in conceptsProducts %}
            {% if conceptProducts.product.deletedat == null %}
            <table class="table">
                <thead>
                </thead>
                <tbody>
                    <tr>
                        <td class="col-md-2" class="bottom-left">
                            {% for conceptsProductMedias in conceptsProductsMedias[conceptProducts.product.id] %}
                                <a href="{{ path('front_product_show', { 'id': conceptProducts.product.id }) }}">
                                <img src="{{ asset(conceptsProductMedias.mediapath) }}" class="img-responsive" alt="img-{{ conceptProducts.product.name }}" />
                                </a>
                            {% endfor %}
                        </td>
                        <td class="col-md-2" class="bottom-right">
                            <a href="{{ path('front_product_show', { 'id': conceptProducts.product.id }) }}">
                            {{ conceptProducts.product.name }}
                            <br />
                            {{ conceptProducts.product.sku }}
                            <br />
                            {{ conceptProducts.product.supplierreference }}
                            </a>
                        </td>
                        <td class="col-md-2" class="bottom-right">
                            <a href="{{ path('front_product_show', { 'id': conceptProducts.product.id }) }}">
                            {{ conceptProducts.product.shortdescription }}
                            </a>
                        </td>
                        <td class="col-md-2" class="bottom-right">
                            {% if conceptProducts.isMandatory == 1 %}
                                {{ 'conceptproduct.mandatory'|trans }}
                            {% else %}
                                {{ 'conceptproduct.notMandatory'|trans }}
                            {% endif %}
                        </td>
                        <td class="col-md-2" class="bottom-right">
                            {{ conceptProducts.product.productstatus.label }}
                        </td>
                        <td class="col-md-2" class="bottom-right" style="text-align: right;">
                            {% if conceptProducts.product.productstatus.id == 1 %}
                                <button type="button" class="btn btn-success btn-md add-to-basket-product">
                                    <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> {{ 'basket.addToBasket'|trans }}
                                </button>
                            {% else %}
                                <button type="button" class="btn btn-warning disabled btn-md add-to-basket-product">
                                    <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> {{ 'basket.addToBasket'|trans }}
                                </button>
                            {% endif %}
                        </td>
                    </tr>
                </tbody>
            </table>
            <hr>
            {% endif %}
        {% endfor %}
    {% endfor %}
{% endblock %}