{% extends 'admin/layout.html.twig' %}

{% block body %}
    <h1>Country list</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Label</th>
                <th>Isocode</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for country in countries %}
            <tr>
                <td><a href="{{ path('admin_country_show', { 'id': country.id }) }}">{{ country.id }}</a></td>
                <td>{{ country.label }}</td>
                <td>{{ country.isoCode }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_country_show', { 'id': country.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_country_edit', { 'id': country.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_country_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
