{% extends 'admin/layout.html.twig' %}

{% block body %}
    <h1>ProductMediaType list</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Label</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for productMediaType in productMediaTypes %}
            <tr>
                <td><a href="{{ path('admin_productmediatype_show', { 'id': productMediaType.id }) }}">{{ productMediaType.id }}</a></td>
                <td>{{ productMediaType.label }}</td>
                <td>
                    <a href="{{ path('admin_productmediatype_show', { 'id': productMediaType.id }) }}">show</a>
                    &nbsp;
                    <a href="{{ path('admin_productmediatype_edit', { 'id': productMediaType.id }) }}">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_productmediatype_new') }}">Create a new entry</a>
{% endblock %}
